@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100vh;
}

body {
    background: url('https://assets.codepen.io/6060109/ZigZag.png');
    background-size: cover;
}

h2, h5 {
    color: #2F463D;
}

h2, h5, h6, a, button {
    font-family: 'Montserrat', sans-serif;
}

.panel {
    width: 350px;
    height: 600px;
    background-color: white;
    margin: 70px auto;
    box-shadow: 0px 40px 40px -20px #3C7B61;
    border-radius: 5px;
    position: relative;
}

.side-panel {
    display: none;
}

#close-button {
    position: absolute;
    right: 15px;
    top: 15px;
}

.inner-container {
    width: 100%;
    text-align: center;
    padding: 55px 30px;
}

.inner-container > h2 {
    font-weight: 600;
    font-size: 22px;
    padding: 20px 0 10px; /*top sides bottom*/
}

.inner-container > p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    line-height: 26px;
    color: #828282;
}

#food-selection {
    display: flex;
    align-items: center;
    background-color: #F0FFF5;
    margin: 40px 0 30px;
    border-radius: 5px;
}

.food-name-price {
    width: 50%;
    text-align: left;
    padding-left: 15px;
}

.food-name-price > h5 {
    font-size: 14px;
    font-weight: 800;
    margin-bottom: 3px;
}

.food-name-price > h6 {
    font-size: 14px;
    font-weight: 500;
    color: #7A8F85;
}

#food-selection > a {
    color: #467A66;
    font-size: 13px;
    font-weight: 700;
    padding-left: 15px;
}

#ready-btn {
    width: 100%;
    padding: 15px 0;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    color: white;
    background: #46A67E;
    border: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    box-shadow: 0px 20px 20px rgba(103, 189, 153, 0.2);
    border-radius: 5px;
    transition: .3s ease all;
}

#ready-btn:hover {
    opacity: .8;
    transition: .3s ease all;
    cursor: pointer;
}

#next-btn {
    margin-top: 75px;
}

#track-btn {
    margin-top: 60px;
}

.alt-btn {
    width: 100%;
    padding: 15px 0;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    color: white;
    background: #BDBDBD;
    border: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    box-shadow: 0px 20px 20px rgba(167, 167, 167, 0.2);
    border-radius: 5px;
    transition: .3s ease all;
}

.alt-btn:hover {
    opacity: .8;
    transition: .3s ease all;
    cursor: pointer;
}

.dots-container {
    display: flex;
    width: 15%;
    justify-content: space-between;
    position: absolute;
    left: 50%;
    bottom: 6%;
    transform: translateX(-50%);
}

.dot {
    width: 10px;
    height: 10px;
    background-color: #E0E0E0;
    border-radius: 100%;
}

.dot.green {
    background-color: #67BD99;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .panel {
        width: 400px;
        height: 650px;
    }

    .side-panel {
        display: block;
    }

    #choose-title {
        margin-top: 50px;
    }

    .inner-container > img {
        width: 150px;
    }

    .inner-container > h2 {
        font-size: 28px;
        width: 75%;
        margin: auto;
    }
    
    .inner-container > p {
        font-size: 16px;
        
    }

    .side-panel > .inner-container > h2 {
        margin-top: 20px;
        padding-bottom: 30px;
    }

    .side-panel > .inner-container > p {
        margin-top: 20px;
    }
}